<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <a class="logo" [routerLink]="['/pages/home']"><img src="assets/images/logoPonto.png" alt="Imagem Contribuidor" width="240px"></a>
  </div>
</div>

<nb-actions
  size="medium"
  class="header-container"
  [class.right]="position === 'normal'"
  [class.left]="position === 'inverse'">
  <nb-action icon="nb-grid-b" class="toggle-layout" (click)="toggleSettings()"></nb-action>
  <nb-action *ngIf="!user">
    <a [routerLink]="['/auth/login']">Login</a>
  </nb-action>
  <nb-action *ngIf="user">
    <nb-user [menu]="userMenu" [name]="user?.nome" [picture]="user?.picture"></nb-user>
  </nb-action>
</nb-actions>
